<p align="center"> 
  Formulario De Registro Practica 2
</p>

<form>
  <p align="center"> <label>Nombre:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.nombre" name="nombre"></p>

  <p align="center"><label>Apellido:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.apellido" name="apellido">
</p>

<p align="center"> <button type="button" (click)="registroUsuario(usuarioRegistro)">Guardar</button> </p>
</form>

<p align="center">{{usuarioRegistro.nombre}} {{usuarioRegistro.apellido}}</p>

<ul *ngFor="let usuario of listaUsuarios">
  <li>{{usuario.nombre}} {{usuario.apellido}}</li>
</ul>